<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="text-center mt-5">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input type="checkbox" (change)="selectAll($event.target.checked)" [checked]="checkAllSelected()" />
                        <strong>Select All / Unselect All</strong>
                    </li>
                </ul>
                <ul class="list-group">

                    <li class="list-group-item">
                        <ul>
                            <li>
                                <input type="checkbox" (change)="cseSelectAll($event.target.checked)" [checked]="getCseSelectCount()" />
                                <strong>CSE</strong>
                            </li>
                            <ul>
                                <li class="list-group-item" *ngFor="let item of categoryList1; let i = index">
                                    <input type="checkbox" [checked]="item.isSelected" (change)="selectedItem($event.target.checked, 'CSE', i)" /> {{item.name}}
                                </li>
                            </ul>
                        </ul>
                </ul>
                <ul class="list-group">

                    <li class="list-group-item">
                        <ul>
                            <li>
                                <input type="checkbox" (change)="elecricalSelectAll($event.target.checked)" [checked]="getElecricalCount()" />
                                <strong>Elecrical</strong>
                            </li>
                            <ul>
                                <li class="list-group-item" *ngFor="let item of categoryList2; let i = index">
                                    <input type="checkbox" [checked]="item.isSelected" (change)="selectedItem($event.target.checked, 'elctrical', i)" /> {{item.name}}
                                </li>
                            </ul>
                        </ul>
                </ul>
                <ul class="list-group">

                    <li class="list-group-item">
                        <ul>
                            <li>
                                <input type="checkbox" (change)="civilSelectAll($event.target.checked)" [checked]="getCivilCount()" />
                                <strong>Civil</strong>
                            </li>
                            <ul>
                                <li class="list-group-item" *ngFor="let item of categoryList3; let i = index">
                                    <input type="checkbox" [checked]="item.isSelected" (change)="selectedItem($event.target.checked, 'civil', i)" /> {{item.name}}
                                </li>
                            </ul>
                        </ul>
                </ul>
                <ul class="list-group">

                    <li class="list-group-item">
                        <ul>
                            <li>
                                <input type="checkbox" (change)="mechanicalSelectAll($event.target.checked)" [checked]="getMechCount()" />
                                <strong>Mechanical</strong>
                            </li>
                            <ul>
                                <li class="list-group-item" *ngFor="let item of categoryList4; let i =index">
                                    <input type="checkbox" [checked]="item.isSelected" (change)="selectedItem($event.target.checked, 'mech', i)" /> {{item.name}}
                                </li>
                            </ul>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>